<div class="loaddr" id="{{address}}">
   <h2 class="loaddr-name">{{type}} loader</h2>
    <div class="address-container">
        <strong class="address">{{address}}</strong>
        <div class="qrcode">{{address}}</div>
    </div>
    <div>
        <h3>What it does</h3>
        {{{settingsForm}}}
    </div>
    <div class="log">
        {{#each logs}}
            {{@this}}
        {{/each}}
    </div>
    <span> Change: <span class="balance">{{balance}}</span> <a href="/withdraw?loaddr={{_id}}">Withdraw</a></span>
</div>