<div class="loaddr" id="{{address}}">
   <label class="loaddr-name">{{type}}</label>
    <strong class="address">{{address}}</strong>

    <div class="description">
        {{{settingsForm}}}
    </div>
    <div class="log">
        <ul>
        {{#each logs}}
            <li>{{{@this}}}</li>
        {{/each}}
        </ul>
        <button class="close-log">Close</button>
    </div>
    <span class="last-log">{{{last logs}}}</span>
    <div class="qrcode">{{address}}</div>
    <label class="balance"><strong>{{balance}}</strong> <a href="/withdraw?loaddr={{_id}}">Withdraw</a></label>
</div>